body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000000;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #000;
}

.logo {
  height: 40px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 2rem;
  padding: 2rem;
}

.block {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
}


.small-block {
  flex: 1;
  min-width: 200px;
  min-height: 700px;
}

.large-block {
  flex: 2;
  min-width: 300px;
  min-height: 700px;
}
